.page {
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 0;

    &.PENDING {
        .loader {
            opacity: 1;
        }
    }



}

body {
    overflow: hidden;

    &:has(.page.END_PRELOADER) {
        overflow: auto;
    }
}

.about,
.contact {
    .section-text {
        font-size: 1.5rem !important;
    }
}

.works {
    .project {

        img {
            width: 100%;
            margin-top: 64px;
            aspect-ratio: 16/9;
            object-fit: contain;
            object-position: top;

        }

        .links {
            display: flex;
            gap: 8px;
            margin-top: 16px;

            a {
                color: var(--secondary-color);
            }
        }
    }
}