.page {
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 0;

    &.PENDING {
        .loader {
            opacity: 1;
        }
    }



}

body {
    overflow: hidden;

    &:has(.page.END_PRELOADER) {
        overflow: auto;
    }
}

.about,
.contact {}

.section-text {
    @media (min-width: 768px) {
        font-size: 1.5rem !important;
    }
}

.works {
    .project {

        img {
            width: 100%;
            margin-top: 64px;
            aspect-ratio: 16/9;
            object-fit: contain;
            object-position: top;

        }

        .links {
            display: flex;
            gap: 8px;
            margin-top: 16px;

            a {
                color: var(--secondary-color);
            }
        }
    }
}

.contact {

    $timing: 265ms;
    $iconColor: #5e6285;
    $accent: #474E68;
    $bluefade: #50577A;
    $gradient: #edebec;

    @mixin transformScale($size: 1) {
        transform: scale($size);
        -ms-transform: scale($size);
        -webkit-transform: scale($size);
    }

    .socials {
        padding: 0;
        list-style: none;
        margin-block: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;

        li {
            display: inline-block;
            margin: 0.15em;
            position: relative;
            font-size: 1.2em;

            svg {
                color: #fff;
                position: absolute;
                top: 21px;
                left: 21px;
                transition: all $timing ease-out;
            }
        }

        a {
            display: inline-block;

            &:before {
                @include transformScale();
                content: " ";
                width: 60px;
                height: 60px;
                border-radius: 100%;
                display: block;
                background: linear-gradient(45deg, $iconColor, $accent);
                transition: all $timing ease-out;
            }

            &:hover:before {
                transform: scale(0);
                transition: all $timing ease-in;
            }

            &:hover svg {
                @include transformScale(2.2);
                color: $iconColor;
                background: -webkit-linear-gradient(45deg, $iconColor, $accent);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all $timing ease-in;
            }
        }
    }

    .buttons-cv {
        padding: 0;
        list-style: none;
        margin-block: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 100%;
        flex-wrap: wrap;



        li {
            flex: 1;
            min-width: 200px;
        }

        a {
            display: inline-block;
            width: 100%;
            border-radius: 0.5em;
            background-color: $accent;
            border: 2px solid $accent;
            font-weight: var(--bold);
            color: #fff;
            text-decoration: none;
            transition: all $timing ease-out;
            display: flex;
            padding: 1em;

            svg {
                position: relative;
                transition: all $timing ease-out;
                left: 0%;
            }

            span {
                width: 100%;
                text-align: center;
                position: relative;
                left: 0;
                transition: all $timing ease-out;

            }

            &:hover {
                background: linear-gradient(45deg, $gradient, $gradient);
                color: $iconColor;

                svg {
                    left: calc(100% - 1em);
                }

                span {
                    left: -1em;
                }

            }

        }
    }
}